<mat-card>
  <mat-card-header>
    📋TODOs
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let todoItem of items | todos: false">
        <mat-checkbox [(ngModel)]="todoItem.checked">{{todoItem.description}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    ✅Done
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let todoItem of items | todos: true">
        <mat-checkbox [(ngModel)]="todoItem.checked">{{todoItem.description}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
